<div class="alert alert-white" role="alert">
 <div class="row">
<div class="col-sm-6">
  <img src="../assets/images/ag_logo.png" class="rounded mx-auto d-block" width="100%" height="100%">
</div>
<div class="col-sm-6">
  <nav class="nav nav-pills nav-justified nav_color">
    <a class="nav-item nav-link" href="#">Home</a>
    <a class="nav-item nav-link" href="#">About Us</a>
    <a class="nav-item nav-link" href="#">Our Service</a>
    <a class="nav-item nav-link" href="#">Contect Us</a>
  </nav>
  <h3 class="text-center margin_t1">Login</h3>
  <form class="margin_t padding_form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
<div class="container">

  <div class="row">
    <div class="col-sm-6 col-xs-6"><input class="form-check-input" type="checkbox" id="autoSizingCheck2">
      <label class="form-check-label" for="autoSizingCheck2">
        Remember me
      </label></div>
    <div class="col-sm-6 col-xs-6"><a href="#">Forget password</a></div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-sm-6 col-xs-6 col mb-2"><button class="btn btn-info px-3 my-auto d-block">Sign up</button></div>
    <div class="col-sm-6 col-xs-6 col"><button class="btn btn-danger px-3 my-auto d-block" type="cancle"> cancle</button></div>
  </div>
</div>
</form>
</div>
</div>
</div>